@import "site-settings";
:local(.crop){

  .canvas-image {
    background-color: $canvas;
  }

  .canvas-overlay{
    background-color: hsla(1, 1%, 1%, 0.1);
    cursor: crosshair;
  }

  // .overlay{
  //   width: 110px;
  //   height: 110px;
  //   left: 55px;
  //   top: 55px;
  //   position: absolute;
  //   border: solid 2px white;
  //
  //   background-color: hsla(1, 1%, 1%, 0.01);
  //   opacity: .9;
  // }
  //
  // .overlay:active{
  //   opacity: 0;
  // }


}
