@import "../../../styles/site-settings";
:local(.mainNav){

  ul{
    margin-bottom: 0;
    float: right;
    padding-left: 0;
  }

  li {
    display: inline-block;
    min-width: 6em;
  }

  .selected {
    background-image: linear-gradient(to right, $anchor 20%, rgba(255,255,255,0) 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position: top;
  }

}
