@import "site-settings";
:local(.mainNav){

  .nav-menu{
    margin-bottom: .5em;
    padding-left: 0;
    display: none;
  }

  .nav-menu__is-selected{
    display: block
  }

  li.nav-item {
    display: list-item;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .selected {
    background-image: linear-gradient(to right, $anchor 20%, rgba(255,255,255,0) 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-position: top;
  }

  .hamburger{
    float: right;
    clear: left;
    display: inline-block;
    margin-bottom: .5em;
  }

  @media only screen and (min-width: 500px){

    .hamburger{
      display: none;
    }

    .nav-menu{
      float: right;
      display: block;
    }

    li.nav-item{
      display: inline-block;
      min-width: 4em;
    }

  }

}
