<div class="{{$ctrl.styles.upload}}">
  <image-crop imagedata="$ctrl.imagedata" imagetype="$ctrl.imagetype"></image-crop>
  <div class="addimage"
    ng-class="{addimage__pristine: !$ctrl.imagetype}"
    ondragenter="event.stopPropagation(); event.preventDefault();"
    ondragover="event.stopPropagation(); event.preventDefault();"
    ng-on-drop="$ctrl.dodrop()">
    {{$ctrl.boxtext}}
  </div>
  <input type="file" name="file" id="{{$ctrl.record}}" class="file"></input><br>
  <button type="submit" ng-click="$ctrl.sendRequest()">Go!</button>
</div>


<!-- Removed from imagedropper because of the ngOnDrop function  -->
<!-- ondrop="event.stopPropagation(); event.preventDefault();" -->
