/* Loading Animation
  ======================================================================== */
@import "site-settings";
:local(.loading){

    display: inline-block;
    width: 75px;
    height: 25px;
    vertical-align: bottom;
    overflow: hidden;


  .loading--circle {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: radial-gradient(circle, $loading 0, $loading 20%, hsla(1, 0%, 100%, 0) 21%);
    animation-duration: 1s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }

  .circle1 {
    animation-delay: 0.15s;
  }
  .circle2 {
    animation-delay: 0.35s;
  }
  .circle3 {
    animation-delay: 0.7s;
  }

  @keyframes slide {
    from {
      margin-left: 75px;
    }
    to {
      margin-left: 0%;
    }
  }

  @media only screen and (min-width: 500){


  }
}
