/* ==========================================================================
   Animations
   ========================================================================== */

/* List Animation
  ======================================================================== */
.list.ng-enter, .list.ng-move {
  animation: 0.4s list-enter ease-in-out;
}

.list.ng-leave {
  animation: 0.4s list-leave ease-in-out;
}

@keyframes list-enter {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 70px;
  }
}

@keyframes list-leave {
  from {
    opacity: 1;
    height: 380px;
  }
  to {
    opacity: 0;
    height: 0px;
  }
}
