/* ==========================================================================
   Base
   ========================================================================== */

/* Text
   ========================================================================== */
h1, h2, h3, h4, h5, p, span, div{
  font-weight: 100;
  font-family: $font1;
  color: white;
}

/* Border, Padding, Margin
   ========================================================================== */
body, div, section, hr, p{
  margin: 0;
  border: 0;
  padding: 0;
}

/* Styles
   ========================================================================== */
ul{
  list-style: none;
}

a{
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}

input, textarea{
  font-size: 100%;
  width: 90%;
  border-radius: 2px;
  border-width: 0;
  margin-top: .25em;
  margin-bottom: .25em;
  padding-left: .5em;
  padding-right: .5em;
}

input {
  height: 1.8em;
}

button{
  font-size: 80%;
  background-color: $anchor;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  cursor: pointer;
}

button:focus{
  outline-width: 0;
}

button:active{
  background-color: $anchor--hover;
  color: $anchor;
}

button[type="submit"]{
  background-color: $submit-button;
}

button[type="submit"]:active{
  background-color: $submit-button__active;
}
