/* ==========================================================================
   Base
   ========================================================================== */

/* Text
   ========================================================================== */
h1, h2, h3, h4, h5, p, span, div{
  font-weight: 100;
  font-family: $font1;
  color: white;
}

/* Border, Padding, Margin
   ========================================================================== */
body, div, section, hr{
  margin: 0;
  border: 0;
  padding: 0;
}

/* Styles
   ========================================================================== */
ul{
  list-style: none;
}

a{
  text-decoration: inherit;
  font-style: inherit;
  color: inherit;
}
