/* ==========================================================================
   Layout
   ========================================================================== */

.l-section-divider {
  height: 5px;
  background-color: white;
}

.l-clearfix{
  overflow: auto;
  zoom: 1;
}

.l-float-right{
  float: right;
}

.l-centered{
  max-width: 800px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: $canvas;
  padding-right: 20px;
  padding-left: 20px;
  // padding-bottom: 20px;
  padding-top: 10px;
}
