/* ==========================================================================
   Layout
   ========================================================================== */

.l-section-divider {
  height: 5px;
  background-color: white;
}

.l-clearfix-right{
  clear: right;
  zoom: 1;
}

.l-clearfix-left{
  clear: left;
  zoom: 1;
}

.l-contain-floats::after{
  content: "";
  display: block;
  clear: both;
}

.l-overflow-auto{
  overflow: auto;
  zoom: 1;
}

.l-float-right{
  float: right;
}

.l-centered{
  max-width: 800px;
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  background-color: $canvas;
  padding-right: 20px;
  padding-left: 20px;
  // padding-bottom: 20px;
  padding-top: 10px;
}

.l-title{
  font-size: 120%;
  color: white;
}
