/* ==========================================================================
   Module
   ========================================================================== */

.clickable{
  cursor: pointer;
}

.clickable:hover{
  background-color: $background--hover;
}

a.clickable{
  font-weight: bold;
  color: $anchor;
  float: right;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
}

a.clickable:hover{
  background-color: $anchor--hover;
}
