/* ==========================================================================
   Module
   ========================================================================== */

/* Clickables
   ========================================================================== */
.clickable{
  cursor: pointer;
}

.clickable:hover{
  background-color: $background--hover;
}

a.clickable{
  font-weight: bold;
  color: $anchor;
  float: right;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
}

a.clickable:hover{
  background-color: $anchor--hover;
}

a.clickable:active{
  background-color: $anchor;
  color: black;
}

/* Clickable Icons
   ========================================================================== */
.vidicon{
  margin-left: 1em;
  position: relative;
  top: 8px;
  cursor: pointer;
  background: url('icons/tv.svg');
  background-size: contain;
  height: 30px;
  width: 30px;
  display: inline-block;
  fill: yellow;
}

/* Override ng-modal
   ========================================================================== */
.ngdialog-content{
  background-color: $canvas-light     !important;
}

/* Override Apple default styles
   ========================================================================== */
.apple-auth-button{
  height: auto                !important;
  width: auto                 !important;
  cursor: pointer             !important;
  border-width: 0             !important;
  border-radius: 5px          !important;
  background-color: inherit   !important;

  // Inherit a.clickable styles
  font-weight: bold           !important;
  color: $anchor              !important;
  float: right                !important;
  padding-right: 1em          !important;
  padding-left: 1em           !important;
  padding-top: 0.5em          !important;
  padding-bottom: 0.5em       !important;
  border-radius: 5px          !important;
}

.apple-auth-button :nth-child(1){
  display: none;
}

#apple-sign-out-button div::before{
  content: "Logout";
}

#apple-sign-in-button div::before{
  content: "Sign In";
}

.apple-auth-button:hover{
  background-color: $anchor--hover !important;
}

#apple-sign-in-button, #apple-sign-out-button{
  display: inline-block;
}
