@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

// = Colors
// -----------------------------

// Hues
$grayblue: 200;
$red: 1;

// Color Derivations
$grayishblue: hsla($grayblue, 30%, 80%, 1);
$grayishbluelight: hsla($grayblue, 20%, 90%, 1);
$grayishbluedark: hsla($grayblue, 10%, 70%, 1);

$darkred: hsla($red, 100%, 35%, 1);

// Color Contexts
$background1: $grayishbluelight;
$background--selected: $grayishbluedark;
$background--imagebox: $grayishblue;

$anchor: $darkred;
