/* ==========================================================================
   Site Settings
   ========================================================================== */

@charset "UTF-8";

/* Fonts
   ========================================================================== */
$font1: "Arial", Helvetica, Arial, sans-serif;
$font2: Georgia, serif;

/* Hues
   ========================================================================== */
$navy: 192;
$grayblue: 200;
$red: 1;
$orange: 20;
$green: 125;

/* Color Derivations
   ========================================================================== */
$navyDark: hsla($navy, 19%, 16%, 1);
$navyPowderBlue: hsla($navy, 42%, 68%, 1);
$navyLessDark: hsla($navy, 25%, 22%, 1);
$navyMoreDark: hsla($navy, 18%, 10%, 1);

$grayishblue: hsla($grayblue, 30%, 80%, 1);
$grayishbluelight: hsla($grayblue, 20%, 90%, 1);
$grayishbluetint: hsla($grayblue, 20%, 85%, 1);
$grayishbluedark: hsla($grayblue, 10%, 70%, 1);

$red-dark: hsla($red, 100%, 35%, 1);
$red-transparent: hsla($red, 100%, 35%, 0.2);

$orangeFull: hsla($orange, 83%, 45%, 1);
$orangeTransparent: hsla($orange, 83%, 45%, 0.2);

$greenFull: hsla($green, 70%, 30%, 1);
$greenLight: hsla($green, 90%, 50%, 1);

$mediumGray: hsla(1, 0%, 50%, 1);
$whiteHalfTransparent: hsla(1, 0%, 100%, .4);

/* Color Contexts
   ========================================================================== */
$canvas: $navyDark;
$canvas-light: $navyLessDark;
$highlightText: $navyPowderBlue;

$background__imagebox: $navyLessDark;
$background--selected: $navyMoreDark;
$background--hover: $navyLessDark;

$anchor: $orangeFull;
$anchor--hover: $orangeTransparent;

$submit-button: $greenFull;
$submit-button__active: $greenLight;
$form-text__dirty: $greenFull;
$form-text__placeholder: $whiteHalfTransparent;
