/* ==========================================================================
   State
   ========================================================================== */

/* Buttons
   ========================================================================== */
.button__inactive{
  opacity: 0.3;
}

.button__inactive:hover{
  cursor: default;
}

/* Text
   ========================================================================== */
.text__warning{
  color: $text__warning;
}
