<div class="{{$ctrl.styles.main}}">

  <!-- |============================== Header ============================== -->
  <main-header>
    <!-- Placeholder content  -->
    <h1 class="l-title">EventsList Dashboard</h1>
  </main-header>


  <!-- |============================= Divider ============================== -->
  <hr class="l-section-divider">


  <!-- |========================== Page Content ============================ -->
  <section class="l-centered" ui-view="content">
    <!-- Placeholder content  -->
    <p>Downloading event information...</p>
  <section>


  <!-- |===================== Apple Sign In/Out Button ===================== -->
  <section ng-hide="true">
    <aside>
      <div id="apple-sign-in-button"></div>
      <div id="apple-sign-out-button"></div>
    </aside>
  </section>


  <!-- |============================== Footer ============================== -->
  <footer>
    <br>
  </footer>

</div>
