<div class="{{$ctrl.styles.main}}">
  <div>

    <!-- ============================== Header ============================= -->
    <header ui-view="header" class="l-centered">
      <!-- Placeholder content  -->
      <h1 class="l-title">EventsList Dashboard</h1>
    </header>


    <!-- ============================= Divider ============================= -->
    <hr class="l-section-divider">


    <!-- =============================== Main ============================== -->
    <section ui-view="main" class="l-centered">
      <!-- Placeholder content  -->
      <p>Downloading event information...</p>
    </section>


    <!-- ===================== Apple Sign In/Out Button ==================== -->
    <section class="auth l-centered" ng-hide="true">
      <article>
        <div id="apple-sign-in-button"></div>
        <div id="apple-sign-out-button"></div>
      </article>
    </section>


    <!-- ============================== Footer ============================= -->
    <footer></footer>

  </div>
</div>
