<div class="{{$ctrl.styles.picker}}">

  <!-- |=========================== Image & Crop =========================== -->
  <div class="image-container image-initial-size">

    <!-- ==|========================== Crop ================================ -->
    <image-crop
      class="image-item"
      imagedata="$ctrl.imagedata"
      cropped-image-data="$ctrl.croppedImageData"
      imagetype="$ctrl.imagetype"
      clear-image="$ctrl.clearImage()"
      show-error="$ctrl.showError">
    </image-crop>

    <!-- ==|========================== Image =============================== -->
    <div class="addimage image-item"
      ng-class="{addimage__pristine: !$ctrl.imagetype}"
      ondragenter="event.stopPropagation(); event.preventDefault();"
      ondragover="event.stopPropagation(); event.preventDefault();"
      ng-on-drop
      ng-hide="$ctrl.imagedata">
      {{$ctrl.boxtext}}
    </div>

  </div>

  <!-- |========================= Buttons & Warnings ======================= -->
  <p ng-show="$ctrl.showError" class="text__warning">Image needs to be at least 440px by 440px</p>

  <input type="file" name="file" id="{{$ctrl.record}}" class="file" ng-on-change></input><br>
  <button type="button" ng-click="$ctrl.clearImage()">Clear Image</button>
  <button type="submit"
    ng-click="$ctrl.submitRequest()"
    ng-class="{'button__inactive': !$ctrl.imagedata}">Submit
  </button>
  <loading ng-if="$ctrl.isLoading"></loading>
  <span ng-show="$ctrl.hasUploadError" class="text__warning">Failed to upload image</span>
</div>
