<div class="{{$ctrl.styles.picker}}">

  <!-- |=========================== Image & Crop =========================== -->
  <section class="image-container image-initial-size">

    <!-- ==|========================== Crop ================================ -->
    <image-crop
      class="image-item"
      imagedata="$ctrl.imagedata"
      cropped-image-data="$ctrl.croppedImageData"
      imagetype="$ctrl.imagetype"
      clear-image="$ctrl.clearImage()"
      show-size-error="$ctrl.showSizeError"
      show-file-error="$ctrl.showFileError">
    </image-crop>

    <!-- ==|========================== Image =============================== -->
    <div class="addimage image-item"
      ng-class="{addimage__pristine: !$ctrl.imagetype}"
      ondragenter="event.stopPropagation(); event.preventDefault();"
      ondragover="event.stopPropagation(); event.preventDefault();"
      ng-on-drop
      ng-hide="$ctrl.imagedata">
      {{$ctrl.boxtext}}
    </div>

  </section>

  <!-- |========================= Buttons & Warnings ======================= -->
  <section class="l-contain-floats">
    <p ng-show="$ctrl.showSizeError" class="text__warning">Image needs to be at least 440px by 440px</p>
    <p ng-show="$ctrl.showFileError" class="text__warning">File format not recognized as JPEG or PNG</p>

    <input type="file" name="file" id="{{$ctrl.record}}" class="file" ng-on-change></input><br>
    <button type="button"
      ng-click="$ctrl.clearImage(!!$ctrl.imagedata)"
      ng-class="{'button__inactive': !$ctrl.imagedata}">Clear Image</button>
    <button type="submit"
      ng-click="$ctrl.submitRequest(!!$ctrl.imagedata)"
      ng-class="{'button__inactive': !$ctrl.imagedata}">Submit
    </button>
    <loading ng-if="$ctrl.isLoading"></loading>
    <span ng-show="$ctrl.hasUploadError" class="text__warning">Failed to upload image</span>
    <button type="button" ng-click="$ctrl.deleteImg()" class="l-float-right">Delete Image</button>
  </section>

</div>
