@import "site-settings";
:local(.picker){

  width: 100%;
  

  .image-container{
    margin-left: auto;
    margin-right: auto;
  }

  .image-item{
    position: absolute;
  }

  .image-initial-size{
    width: 220px;
    height: 220px;
  }

// TODO: This is duplicated from event.scss. DRY it out.
  .addimage{
    width: 220px;
    height: 220px;
    background-color: $background__imagebox;
    border: 2px dashed $highlightText;
    color: white;

    // The following is not from event.scss
    border-radius: 4px;
    padding: .5em;

    // Text styling
    font-size: 80%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
  }

  .dim{
    opacity: 0.1;
  }

}
