<div class="{{$ctrl.styles.picker}}">
  <div class="imagecontainer">

    <image-crop
      class="imageitem"
      imagedata="$ctrl.imagedata"
      imagetype="$ctrl.imagetype"
      clear-image="$ctrl.clearImage()"
      show-error="$ctrl.showError">
    </image-crop>

    <div class="addimage imageitem"
      ng-class="{addimage__pristine: !$ctrl.imagetype}"
      ondragenter="event.stopPropagation(); event.preventDefault();"
      ondragover="event.stopPropagation(); event.preventDefault();"
      ng-on-drop="$ctrl.dodrop()"
      ng-hide="$ctrl.imagedata">
      {{$ctrl.boxtext}}
    </div>

  </div>

  <p ng-show="$ctrl.showError" class="text__warning">Image needs to be at least 440px by 440px</p>

  <input type="file" name="file" id="{{$ctrl.record}}" class="file"></input><br>
  <button type="button" ng-click="$ctrl.clearImage()">Clear Image</button>
  <!-- <button type="button" ng-click="$ctrl.loadImage()" ng-class="{'button__inactive': !$ctrl.imagetype}">Load Image</button> -->
  <button type="submit" ng-click="$ctrl.submitRequest()" ng-class="{'button__inactive': !$ctrl.imagedata}">Submit</button>
</div>


<!-- Removed from addimage because of the ngOnDrop function  -->
<!-- ondrop="event.stopPropagation(); event.preventDefault();" -->
