:local(.event) {
  // background-color: hsla(100, 100%, 50%, 1);
  margin-bottom: 10px;

  .selected {
    background-color: hsla(200, 10%, 70%, 1);
    padding: 10px;
  }

  .clickable {
    cursor: pointer;
  }

  a.clickable{
    font-weight: bold;
    color: hsla(1, 100%, 35%, 1);
    float: right;
  }

  .thumbnail{
    background-color: hsla(200, 20%, 80%, 1);
    max-width: 100px;
  }

  .cell-container{
    // height: 100px;
    // line-height: 100px;
  }

  .cell-text{
    // display: inline-block;
    // vertical-align: middle;
    // line-height: normal;
  }

  .cell-image{
    display: inline-block;
    vertical-align: middle;;
    // line-height: normal;

    height: 60px;
    width: 100px;
    background-color: hsla(200, 30%, 80%, 1);

  }

  img {
    position: absolute;
    clip: rect(0px,100px,60px,0px);
  }

}
