<div class="{{$ctrl.styles.event}}">
	<div ng-click="$ctrl.makeSelected($event)"
		ng-class="{'selected': $ctrl.isSelected, 'clickable': $ctrl.isSelected == false, 'cell-container': true}">


		<span class="cell-image">
			<img ng-src="{{$ctrl.imagesrc}}" class="thumbnail" ng-show="$ctrl.imageVisible" ></img>
		</span>

		<span class="cell-text">
			<b>{{$ctrl.record.fields.title.value}}</b>
			<!-- <a ng-click="$ctrl.showimage($event)" ng-show="$ctrl.record.fields.imageRef" class="clickable">
				<span>{{$ctrl.showtext}}</span>
			</a> -->
			{{$ctrl.record.fields.video.value}}
		</span>

		<div ng-show="$ctrl.isSelected">
			<div class="clearfix">
				<input ng-model="$ctrl.formtitle" size=60 placeholder"Title (required)"></input><br>
				<input ng-model="$ctrl.formvideo" size=60 placeholder="URL for Trailer Video"></input><br>
				<button ng-click="$ctrl.editTitle()">Save Changes</button>
				<button ng-click="$ctrl.delete()">Delete Event</button>
				<a ng-click="$ctrl.removeSelected($event)" ng-class="{'clickable': true}">Close</a>
			</div>

		</div>
	</div>
</div>
