<div class="{{$ctrl.styles.event}}">
	<div ng-click="$ctrl.makeSelected($event)"
		ng-class="{'selected': $ctrl.isSelected, 'clickable': $ctrl.isSelected == false, 'cell-container': true}">


		<span class="cell-image">
			<img ng-src="{{$ctrl.imagesrc}}" class="thumbnail" ng-show="$ctrl.imageVisible" ></img>
		</span>

		<span class="cell-text">
			{{$ctrl.record.fields.title.value}}
		</span>

		<span class="vidicon"
			ng-show="!!$ctrl.record.fields.video"
			ng-click="$ctrl.play($event)">
		</span>

		<div ng-show="$ctrl.isSelected">
			<div class="l-clearfix">
				<input ng-model="$ctrl.formtitle" placeholder"Title (required)"></input><br>
				<input ng-model="$ctrl.formvideo" placeholder="URL for Trailer Video"></input><br>
				<button type="submit" ng-click="$ctrl.edit('title', $ctrl.formtitle)">Save Changes</button>
				<button type="button" ng-click="$ctrl.delete()" class="l-float-right">Delete Event</button>
				<image-upload record="$ctrl.record.recordName" edit="$ctrl.pic(image)"></image-upload>
				<a ng-click="$ctrl.removeSelected($event)" ng-class="{'clickable': true}">Close</a>
				<div class="icon"></div>
			</div>
		</div>
	</div>
</div>
