@import "../../styles/site-settings";
:local(.event) {
  margin-bottom: 10px;

  .selected {
    background-color: $background--selected;
    padding: 10px;
  }

  .clickable {
    cursor: pointer;
  }

  a.clickable{
    font-weight: bold;
    color: $anchor;
    float: right;
  }

  .thumbnail{
    background-color: $background--imagebox;
    max-width: 100px;
  }

  .cell-container{
    // height: 100px;
    // line-height: 100px;
  }

  .cell-text{
    // display: inline-block;
    // vertical-align: middle;
    // line-height: normal;
  }

  .cell-image{
    display: inline-block;
    vertical-align: middle;;
    // line-height: normal;

    height: 60px;
    width: 100px;
    background-color: $background--imagebox;

  }

  img {
    position: absolute;
    clip: rect(0px,100px,60px,0px);
  }

}
