<div class="{{$ctrl.styles.event}}">

	<!-- |============================= Outer Box ============================ -->
	<div ng-click="$ctrl.makeSelected($event)"
		ng-class="{'selected': $ctrl.isSelected,
			'clickable': $ctrl.isSelected == false,
			'cell__container': true}">

		<a ng-click="$ctrl.removeSelected($event)"
			ng-class="{'clickable': true, 'closebutton': true}"
			ng-show="$ctrl.isSelected">Close</a>


		<!-- ==|======================= Above the Fold ========================= -->
		<div class="cell">

			<!-- ====|======================= Image ============================== -->
			<span class="cell__image">
				<img ng-src="{{$ctrl.imagesrc}}" class="thumbnail" ng-show="$ctrl.imageVisible"></img>
			</span>

			<!-- ====|======================= Title ============================== -->
			<span class="cell__text">
				{{$ctrl.record.fields.title.value}}
			</span>

			<!-- ====|====================== Video Icon ========================== -->
			<span class="vidicon"
				ng-show="!!$ctrl.record.fields.video"
				ng-click="$ctrl.play($event)">
			</span>

		</div>


		<!-- ==|======================= Below the Fold ========================= -->
		<div ng-show="$ctrl.isSelected">

			<!-- ====|================ Image and Text Inputs ===================== -->
			<div class="edit-container">

				<!-- ======|================ Image Input =========================== -->
				<div class="imageinput l-float-right l-clearfix-left">
					<button ng-click="$ctrl.showAddImage()" class="addimage">Add/Change Image</button>
				</div>

				<!-- ======|================= Text Input =========================== -->
				<div class="textinput">

					<!-- ========|=========== Text-Title Input ======================= -->
					<div class="edit-title flex-container">
						<p class="label">Title: </p>
						<div class="userinput">
							<input ng-model="$ctrl.formtitle" placeholder"Title (required)"></input><br>
						</div>
					</div>

					<!-- ========|=========== Text-Video Input ======================= -->
					<div class="edit-url flex-container">
						<p class="label">Video URL: </p>
						<div class="userinput">
							<input ng-model="$ctrl.formvideo" placeholder="URL for Trailer Video"></input><br>
						</div>
					</div>

					<!-- ========|======= Text-Description Input ===================== -->
					<div class="edit-description flex-container">
						<p class="label">Description: </p>
						<div class="userinput">
							<textarea ng-model="$ctrl.formfulldescription"
								placeholder="Description"
								rows=5></textarea><br>
						</div>
					</div>

				</div>

			</div>

			<!-- ====|============= Save and Delete Buttons ====================== -->
			<button type="submit" ng-click="$ctrl.edit('text')">Save Changes</button>
			<button type="button" ng-click="$ctrl.delete()" class="l-float-right">Delete Event</button>

		</div>

	</div>
</div>
