@import "../../styles/site-settings";
:local(.event){
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-radius: 5px;

  // BG Image Dotted line
  background-image: linear-gradient(to right, hsla(1, 1%, 70%, .5) 16%, rgba(255,255,255,0) 0%);
  background-size: 6px 1px;
  background-repeat: repeat-x;
  background-position: bottom;


  .selected{
    background-color: $background--selected;
    padding: 10px;
    border-radius: 5px;
  }

  .thumbnail{
    background-color: $background__imagebox;
    max-width: 100px;
  }

  .cell{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .cell__container{
    position: relative;
  }

  .cell__text{
    color: $highlightText;
  }

  .cell__image{
    display: inline-block;
    vertical-align: middle;;

    height: 60px;
    width: 100px;
    background-color: $background__imagebox;

    border-radius: 5px 0 0 5px;
    margin-right: 2em;
  }

  .selected .cell__image{
    height: 100px;
    border-radius: 0 0 0 0;
    margin-bottom: 1em;
  }

  img{
    position: absolute;
    clip: rect(0px,100px,60px,0px);
    border-radius: 5px 0px 0px 5px;
  }

  .selected img{
    clip: auto;
    border-radius: 0 0 0 0;
  }

  .closebutton{
    position: absolute;
    right: .5em;
    z-index: 1;
  }

  .addimage{
    width: 130px;
    height: 130px;
    background-color: $background__imagebox;
    border: 2px dashed $highlightText;
    color: white;
  }

  /* Text and Image Inputs
     ======================================================================== */
  .edit-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  .textinput{
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-order: 2;
    order: 2;
  }

  .imageinput{
    width: 150px;
    height: 100%;
    flex: 0 0 150px;
    -webkit-order: 1;
    order: 1;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  /* Text Input
     ======================================================================== */
  .flex-container{
    min-width: 200px;
    display: block;
    align-content: center;
  }

  .label{
    text-align: center;
    padding-right: 1em;
  }

  // Prevent labels from pushing input fields on constrained sizes.
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media only screen and (min-width: 500px){

    .flex-container{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row;
      flex-flow: row;
      align-items: center;
    }

    .label{
      -webkit-flex: 0 1 30%;
      flex: 1 0 30%;
      text-align: right;
    }

    .userinput{
      -webkit-flex: 0 1 70%;
      flex: 1 0 70%;
      width: 100%;
    }
  }

  @media only screen and (min-width: 600px){

    .edit-container{
      -webkit-flex-flow: row;
      flex-flow: row;
    }

    .textinput{
      -webkit-order: 1;
      order: 1;
    }

    .imageinput{
      -webkit-order: 2;
      order: 2;
    }
  }

}
