<div class="{{$ctrl.styles.eventList}}">

	<!-- |============================== Header ============================== -->
	<section class="l-overflow-auto">
		<h3 class="t-highlight" ng-show="$ctrl.dbType == 'PRIVATE'">Drafts
      <span ng-show="$ctrl.userName" class="t-highlight"> — by {{$ctrl.userName}}</span>
    </h3>
		<h3 class="t-highlight" ng-show="$ctrl.dbType == 'PUBLIC'">Published</h3>
	</section>


	<!-- |========================== List of events ========================== -->
	<section>
		<article ng-repeat="record in $ctrl.ckqueryResult.records track by record.recordName" class="list">
	    <event
			title={{record.fields.title.value}}
			image-ref=record.fields.imageRef
			video=record.fields.video
			record=record
			remove="$ctrl.remove(rec)"
			db-type="$ctrl.dbType"
			publish="$ctrl.publish({rec: rec})">
			</event>
		</article>
	</section>


	<!-- |========================= Load more button ========================= -->
	<section>
		<div ng-show="$ctrl.ckqueryResult.continuationMarker">
			<br>
			<button ng-click="$ctrl.loadMore()">Load More</button>
		</div>
	</section>

</div>
