<div class="{{$ctrl.styles.eventPage}}">


	<!-- |============================ Header ================================ -->
	<section class="l-overflow-auto">
		<h2 class="t-highlight">List Manager</h2>
		<button class="l-float-right" ng-click="$ctrl.showadd()">+Add Event</button>
	</section>


	<!-- |======================== Draft Events ============================== -->
  <section>
    <event-list ckquery-result="$ctrl.privateEvents"
			db-type="$ctrl.typeprivate"
			publish="$ctrl.publish(rec)"
      user-name="$ctrl.userName">
    </event-list>
  </section>


	<!-- |====================== Published Events ============================ -->
  <section>
    <event-list ckquery-result="$ctrl.publicEvents"
      db-type="$ctrl.typepublic"
      publish="$ctrl.publish(rec)">
    </event-list>
  </section>


</div>
