<div class="{{$ctrl.styles.eventPage}}">

	<!-- =============================== Header ============================== -->
	<section class="l-overflow-auto">
		<h2 class="t-highlight">Events Manager</h2>
		<button class="l-float-right" ng-click="$ctrl.showadd()">+Add Event</button>
	</section>


	<!-- =============================== Events ============================== -->
  <section>
    <event-list ckquery-result="$ctrl.privateEvents" db-type="$ctrl.typeprivate">
    </event-list>
  </section>

  <section>
    <event-list ckquery-result="$ctrl.publicEvents" db-type="$ctrl.typepublic">
    </event-list>
  </section>


</div>
